html ,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#main {
    width:550px;
    height:300px;
    margin-left: 330px;
    color:green;
}
#example{
    width:600px;
    height:250px;
    text-align: center;
    margin-left: 330px;
}
h3{
    margin-left: 330px;
}